<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moods</title>
    <link rel="stylesheet" href="static\css\moods.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Frijole&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        .gif-container {
            text-align: center;
            margin-top: 20px;
        }
        .animated-gif {
            width: 200px;
            height: 200px;
            animation-play-state: paused; 
        }
        .animated-gif.playing {
            animation-play-state: running;
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-nav" style="background: black;">
            <div class="logo">
                <a href=""><img src="static\images\newlogo.jpg" alt=""></a>
            </div>
        </div>
        <div class="sidebar-nav">
            <ul>
                <li><a href="{{ url_for('home') }}">
                    <span><i class="fa-solid fa-house"></i></span>
                    <span>&nbsp;&nbsp; Home</span>
                </a></li>
                <li><a href="{{ url_for('library') }}">
                    <span><i class="fa-brands fa-medium"></i></span>
                    <span> &nbsp;&nbsp; Your Library</span>
                </a></li>
            </ul>
        </div>
        <div class="sidebar-nav">
            <ul>
                <li><a href="{{ url_for('moods') }}">
                    <span><i class="fa-solid fa-ghost"></i></span>
                    <span> &nbsp;&nbsp; Moods</span>
                </a></li>
                <li><a href="{{ url_for('groovepad') }}">
                    <span><i class="fa-solid fa-music"></i></span>
                    <span>&nbsp;&nbsp; Groovepad</span>
                </a></li>
            </ul>
        </div>

        <div class="social-icons">
            <a href="#">
             <i class="fab fa-facebook-f">
             </i>
            </a>
            <a href="#">
             <i class="fab fa-twitter">
             </i>
            </a>
            <a href="#">
             <i class="fab fa-linkedin-in">
             </i>
            </a>
           </div>

        <div class="privacy">
            <ul>
                <li>
                    <p>Legal &nbsp;&nbsp; Safety & Privacy Centre &nbsp;&nbsp; Privacy policy</p>
                </li>
                <li>
                    <p> Cookies &nbsp;&nbsp; About Ads &nbsp;&nbsp; Accessibilty</p>
                </li>
                <li>
                    <p> Cookies</p>
                </li>
            </ul>
        </div>
        <div class="copy" style="color: rgb(167, 166, 166);">
           <p> &nbsp; &nbsp;&nbsp; Copyright © 2024 APK (All rights reserved)</p>
        </div>
    </div>

    <div id="page" class="site">
        <div class="container">
            <nav>
                <label for="link" class="link">
                    <i class="ri-menu-3-line ri-2x"></i>
                </label>
                <ul class="submenu">
                    <li><a href="#" data-song="static\audio\kygo.mp3"><span>Happy</span><i class="ri-user-smile-fill"></i></a></li>
                    <li><a href="#" data-song="static\audio\bekhayali.mp3"><span>Sad</span><i class="ri-emotion-sad-fill"></i></a></li>
                    <li><a href="#" data-song="static\audio\justin.mp3"><span>Excited</span><i class="ri-wireless-charging-line"></i></a></li>
                    <li><a href="#" data-song="static\audio\ghungroo.mp3"><span>Anything</span><i class="ri-send-to-back"></i></a></li>
                    <li><a href="#" data-song="static\audio\billie.mp3"><span>Refresher</span><i class="ri-refresh-fill"></i></a></li>
                    <li><a href="#" data-song="static\audio\om.mp3"><span>Focus</span><i class="ri-focus-3-fill"></i></a></li>
                    <li><a href="#" data-song="static\audio\gayatri.mp3"><span>Meditation</span><i class="ri-service-fill"></i></a></li>
                </ul>
            </nav>
        </div>  
        <div class="gif-container">
            <div style="padding-top:100.000%;position:relative;"><iframe src="https://gifer.com/embed/fxVE" width="550%" height="550%" style='position:absolute;top:-150px;left:-150px; margin:0 auto;' frameBorder="0" allowFullScreen></iframe></div><p><a href="https://gifer.com">via GIFER</a></p>
        </div>
    </div>

   

    <audio id="audio"></audio> 

    <script>
const audio = document.getElementById('audio');
const gif = document.querySelector('.animated-gif');
const songInfo = document.getElementById('currentSong');
let currentSong = '';

document.querySelectorAll('.submenu a').forEach(item => {
    item.addEventListener('click', function(e) {
        e.preventDefault(); 
        const song = this.getAttribute('data-song');
        if (currentSong !== song) {
            audio.src = song;
            audio.play();
            currentSong = song;
            songInfo.textContent = `Playing: ${song}`;
            gif.classList.add('playing');
        }
    });
});

audio.addEventListener('ended', () => {
    gif.classList.remove('playing');
    songInfo.textContent = 'Song ended.';
});

    </script>
</body>
</html>
